*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans";
}
body{
    background-color: #f2e9e6 ;
}

header{
    background-color: aliceblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.container-header{
    display: flex;
    padding: 20px;
}
.logo-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.options-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

}
.options{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 100px;
    list-style: none;
}
.options li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: black;
    transition: all 0.3s ease;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    
}
span{
    color: orange;
}

.options li a:hover{
    transform: translateY(-5px);
    background-color: orange;
}

.container-main{
    display: flex;
    background-image: url(./assets/nbacourt.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    font-weight: 800;
}

.left-main{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.left-main p{
    font-size: 20px;
}
.right-main{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.right-main img{
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icons{
    display: flex;
    justify-content: center;

}
i img{
    width: 100px;
    height: 100px;
}
.left-section{
    width: 50%;
    
}
.little-text p{
    text-align: center;
    padding: 20px 30px;
    width: 1050px;
    font-size: 30px;
    font-weight: 800;
    margin: 20px;
    
}
.little-text{
    display: inline-block;
    margin: 50px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.right-section{
    display: flex;
    width: 50%;
    justify-content: center;
}
.container-section{
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1504450758481-7338eba7524a?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bmJhJTIwY291cnR8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;

}
.section-text1, .section-text2, .section-text3{
    text-align: center;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 20px;
    font-weight: 800;
    margin: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.upper-text p{
    font-size: 50px;
    text-align: center;
    font-family: "BBH Sans Bogle";
    color: blue;
    -webkit-text-stroke: 1px rgb(214, 214, 4);
    padding: 30;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    letter-spacing: 2px;
    
}
.down-text p{
    font-size: 50px;
    font-family: "BBH Sans Bogle";
    color: blue;
    -webkit-text-stroke: 1px rgb(214, 214, 4);
    margin-top: 600px;
}